.main-box {
  display: flex;
  justify-content: center;
  align-content: center;
  height: 100vh;
}
.main-box__container {
  width: 80vw;
  height: fit-content;
  align-self: center;
}
.main-box__sort {
  display: flex;
  justify-content: space-between;
  align-content: center;
}
.main-box__txt {
  color: rgb(139, 139, 139);
}
.sort__container {
  width: 70vw;
  max-width: 650px;
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}
.search {
  display: inline-flex;
  border: 1px solid rgb(139, 139, 139);
  border-radius: 20px;
  padding: 5px;
}
.main-box__search {
  display: flex;
  align-content: center;
  justify-content: center;
  padding: 10px;
}
.search-icon {
  width: 15px;
  height: 15px;
  order: -1;
  color: rgb(139, 139, 139);
}

.search-field {
  width: 200px;
  border: 0;
}

.search-field:focus {
  outline: none;
}
.table-row__box {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.table-row__name {
  padding: 5px 5px 0;
  margin: 0;
}
.table-row__category {
  color: rgb(139, 139, 139);
  padding: 0 5px;
  margin: 0;
  font-size: small;
}
.MuiPagination-root {
  margin-bottom: 10px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  height: 100vh;
  box-sizing: border-box;
}
.card__btn-box {
  max-width: 70px;
  margin: 10px;
}
.card__box {
  width: 80%;
  max-width: 800px;
  height: fit-content;
  max-height: 600px;
  min-height: 300px;
  align-self: center;
  margin-bottom: 10px;
}
.card__header {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.card__header-logobox {
  max-width: 200px;
}
.card__header-logo {
  width: 15vw;
  width: fit-content;
  max-width: 200px;
  max-height: 100px;
}
.card__header-discount {
  background-color: rgb(255, 33, 33);
  color: white;
  width: 80px;
  height: 40px;
  font-size: x-large;
  text-align: center;
  border-radius: 10px;
  margin: 10px;
}
.card__header-discount::after {
  content: "";
  top: -30.5px;
  display: block;
  left: 61px;
  height: 37.5px;
  width: 37.5px;
  background-color: inherit;
  border: inherit;
  clip-path: polygon(100% 75%, 25% 0, 0 99%);
  border-radius: 0 0 0 25px;
  transform: rotate(-135deg);
  position: relative;
}

p {
  margin: 0;
}
div.card__content {
  width: 100%;
  display: flex;
  height: fit-content;
  max-height: 400px;
  margin: 0px;
  color: #6f7885;
}
.card__content-imgbox {
  height: fit-content;
  max-height: 400px;
  display: flex;
  align-content: center;
  width: 40vw;
  max-width: 400px;
  margin: 10px;
}
.card__content-img {
  max-width: 300px;
  max-height: 300px;
  height: fit-content;
  width: fit-content;
  align-self: center;
}
.card__contentbox {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  max-width: 450px;
  height: 30vw;
  max-height: 400px;
  align-self: center;
}
.card__content-pricebox {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  align-items: end;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: #6f7885;
  text-align: center;
}
.card__content-title {
  margin: 0;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: #344050;
  font-size: 4vw;
}

.card__content-oldprice {
  align-self: flex-end;
  color: #6f7885;
  text-decoration: line-through;
  text-decoration-color: crimson;
  font-size: 3vw;
}

.card__content-newprice {
  color: #344050;
  font-size: 5vw;
}
.card__content-pricetext {
  font-size: 1.8vw;
}
.card__footer {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100vw;
  height: 50px;
  color: #6f7885;
  background-color: rgba(217, 217, 217, 0.22);
}
.footer__txt {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 2vw;
  align-self: center;
  color: #d9d9d9 22%;
}
